@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
html {
  font-size: 62.5%;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.carousel_container {
  max-width: 950px;
  margin: 0 auto;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(6rem, 1fr) (minmax(min-content, 16rem))[8] minmax(6rem, 1fr);
      grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(-webkit-min-content, 16rem)) minmax(6rem, 1fr);
      grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
  -ms-grid-rows: (min-content)[5] 70vh (min-content)[7];
      grid-template-rows: repeat(5, -webkit-min-content) 70vh repeat(7, -webkit-min-content);
      grid-template-rows: repeat(5, min-content) 70vh repeat(7, min-content);
  background-color: #323232;
  height: 56px;
  z-index: 0;
}

.second-nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -ms-grid;
  display: grid;
}

.second-nav__list {
  display: -ms-grid;
  display: grid;
  grid-columns: minmax(104px, 104px) [auto-fit];
  -ms-grid-columns: (minmax(104px, 104px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(104px, 104px));
  list-style: none;
  margin-left: 52px;
}

.second-nav__link {
  text-align: center;
  display: -ms-grid;
  display: grid;
  text-decoration: none;
  font-size: 1.4rem;
  color: #ffffff;
  margin-top: 20px;
  width: 107px;
  height: 35px;
  -webkit-transition: all .5s .3s;
  transition: all .5s .3s;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  z-index: 3;
}

.second-nav__link:last-child {
  text-align: center;
  display: -ms-grid;
  display: grid;
  text-decoration: none;
  font-size: 1.4rem;
  color: #ffffff;
  width: 104px;
  height: 35px;
  -webkit-transition: all .5s .3s;
  transition: all .5s .3s;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #525252;
  z-index: 3;
}

.second-nav__link::before,
.second-nav__link::after {
  display: block;
}

.second-nav__link::after {
  -ms-grid-column-align: end;
      justify-self: end;
}

.second-nav__item:first-child {
  position: relative;
  width: 104px;
  height: 45px;
  display: inline-block;
}

.second-nav__item {
  position: relative;
  width: 104px;
  height: 45px;
  padding-top: 10px;
  margin-right: 15px;
  right: 3px;
  color: #fff;
  vertical-align: middle;
  z-index: 3;
  margin-right: 1px;
}

.second-nav__item:nth-child(1) {
  position: relative;
  padding-top: 10px;
  color: #fff;
  vertical-align: middle;
  z-index: 3;
}

.second-nav__item:nth-child(2) {
  position: relative;
  padding-top: 10px;
  right: 3px;
  color: #fff;
  vertical-align: middle;
  z-index: 3;
}

.second-nav__item:hover {
  background-color: #212121;
  text-align: center;
  color: #fff;
}

.second-nav__item:last-child {
  width: 80%;
}

.dropdown {
  position: absolute;
  top: 101%;
  display: -ms-grid;
  display: grid;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: 1px solid #d6d6d6;
  background-color: #fff;
  z-index: 3;
}

.second-nav__item:first-child:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.second-nav__item:hover .second-nav__link::before,
.second-nav__item:hover .second-nav__link::after {
  width: 100%;
  background-color: #212121;
}

.dropdown__first-list {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  vertical-align: center;
  text-align: center;
}

.list-item__wrapper {
  border-bottom: 1px solid #d6d6d6;
  width: 270px;
  height: 48px;
  margin-left: 12px;
  vertical-align: center;
}

.list-item__wrapper-last {
  border-bottom: none;
  width: 270px;
  height: 48px;
  margin-left: 12px;
  vertical-align: center;
}

.dropdown-list-link {
  font-size: 1.3rem;
  text-decoration: none;
  color: #34598f;
  display: block;
  background-color: #ffffff;
  vertical-align: center;
  text-align: left;
  padding-top: 13px;
  padding-left: 15px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  color: #323232;
}

.dropdown-list-link:hover {
  color: #458a9f;
}

.header-button {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 19px;
}

.header-button-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10%)[10];
      grid-template-columns: repeat(10, 10%);
}

.button {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7 / 10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  width: 153px;
  height: 38px;
  background-color: #e8d8b6;
  text-decoration: none;
  vertical-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #323232;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: end;
  margin-right: 22px;
}

#nav-item_btn {
  border-right: none;
}

#nav-link-btn {
  border-right: none;
  padding-right: 6px;
}

.promo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 18;
  grid-column: 1 / 19;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  grid-gap: 1.6rem 3.2rem;
  justify-items: center;
}

.promo-banner {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  text-align: center;
  width: 1920px;
  height: 440px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.promo-banner-deskr {
  width: 427px;
  height: 179px;
  padding-left: 40px;
  border: 0,5px solid #fff;
  position: relative;
  z-index: 1;
}

.promo-advertisement-two {
  width: 427px;
  height: 179px;
  padding-bottom: 11px;
  padding-left: 11px;
  background-image: url("/src/img/fon_180.png");
  background-repeat: no-repeat;
  border: none;
  z-index: 2;
  display: block;
}

.promo-advertisement-date {
  width: 105px;
  height: 128px;
  border: none;
  top: 25px;
  left: 15px;
  text-align: center;
  z-index: 3;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #c99c47;
  display: block;
}

.date_one {
  font-family: Roboto;
  font-size: 29px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #c99c47;
  margin-top: 25px;
  text-align: center;
  display: block;
}

.date_two {
  font-family: Roboto;
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  text-transform: uppercase;
  color: #c99c47;
  margin-top: 10px;
  text-align: center;
  display: block;
}

.date_third {
  font-family: Roboto;
  font-size: 34.7px;
  line-height: 23px;
  font-weight: 900;
  text-transform: uppercase;
  color: #c99c47;
  margin-top: 10px;
  text-align: center;
  display: block;
}

.promo-advertisement-descr {
  width: 239px;
  height: 107px;
  border: none;
  text-align: justify;
  position: relative;
  bottom: 96px;
  left: 141px;
  display: block;
}

.descr_one {
  font-family: Roboto;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-transform: uppercase;
  color: #c99c47;
  text-align: right;
  margin-bottom: 6px;
  padding-right: 18px;
  display: block;
}

.descr_two {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  text-transform: none;
  color: #323232;
  text-align: justify;
  margin-top: 5px;
  display: block;
}

.promo-arrow {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  width: 505px;
  height: 179px;
  top: 22%;
  left: 53.1%;
  position: absolute;
  float: center;
  text-align: center;
  z-index: 5;
}

.arrow-left {
  float: left;
  padding-top: 68px;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
}

.arrow-right {
  float: right;
  bottom: 160px;
  padding-top: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
}

@media (max-width: 1250px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(4rem, 1fr) (minmax(min-content, 16rem))[8] minmax(4rem, 1fr);
        grid-template-columns: minmax(4rem, 1fr) repeat(8, minmax(-webkit-min-content, 16rem)) minmax(4rem, 1fr);
        grid-template-columns: minmax(4rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(4rem, 1fr);
    background-color: #323232;
    height: 56px;
    z-index: 0;
  }
  .promo-arrow {
    top: 12%;
    left: 48%;
  }
}

@media (max-width: 1000px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(4rem, 1fr) (minmax(min-content, 16rem))[8] minmax(4rem, 1fr);
        grid-template-columns: minmax(4rem, 1fr) repeat(8, minmax(-webkit-min-content, 16rem)) minmax(4rem, 1fr);
        grid-template-columns: minmax(4rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(4rem, 1fr);
    background-color: #323232;
    height: 56px;
    z-index: 0;
  }
  .promo-banner {
    width: 1000px;
    height: 260px;
  }
  .promo-arrow {
    top: 13%;
    left: 27%;
  }
  .second-nav__list {
    margin-left: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .promo-banner {
    width: 1000px;
    height: 260px;
  }
  .promo-arrow {
    top: 18%;
    left: 22%;
  }
  .carousel {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / 8;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    display: -ms-grid;
    display: grid;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .carousel_container {
    width: 500px;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .carousel {
    padding: 81px 0;
    /* padding-left: 22px; */
  }
  .carousel__inner {
    position: relative;
    width: 500px;
    margin: 0 auto;
  }
  .carousel__inner img {
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(4rem, 1fr) (minmax(min-content, 16rem))[8] minmax(4rem, 1fr);
        grid-template-columns: minmax(4rem, 1fr) repeat(8, minmax(-webkit-min-content, 16rem)) minmax(4rem, 1fr);
        grid-template-columns: minmax(4rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(4rem, 1fr);
    /* height: 164px; */
    height: 118px;
  }
  .second-nav {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    display: -ms-grid;
    display: grid;
  }
  .second-nav__list {
    margin-left: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 0;
  }
  .header-button {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    grid-row: 2 / 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 6px;
    margin-right: 0;
  }
  .header-button-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (10%)[10];
        grid-template-columns: repeat(10, 10%);
  }
  .button {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2 / 10;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 600px) {
  .carousel {
    grid-column: 1 / -1;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    display: -ms-grid;
    display: grid;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .carousel_container {
    width: 500px;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .carousel {
    padding: 81px 0;
  }
  .carousel__inner {
    position: relative;
    width: 450px;
    margin: 0 auto;
  }
  .carousel__inner img {
    width: 70%;
    height: 70%;
    margin: auto;
  }
  .carousel .slick-prev, .carousel .slick-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -66px;
    border: none;
    background-color: #fff;
  }
  .carousel .slick-prev img, .carousel .slick-next img {
    width: 31px;
    height: 50px;
  }
  .carousel .slick-next {
    right: -66px;
    left: auto;
  }
}

@media (max-width: 400px) {
  .carousel {
    grid-column: 1 / -1;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    display: -ms-grid;
    display: grid;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .carousel_container {
    width: 350px;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .carousel {
    padding: 81px 0;
  }
  .carousel__inner {
    position: relative;
    width: 350px;
    margin: 0 auto;
  }
  .carousel__inner img {
    width: 50%;
    height: 50%;
    margin: auto;
  }
  .carousel .slick-prev, .carousel .slick-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -66px;
    border: none;
    background-color: #fff;
  }
  .carousel .slick-prev img, .carousel .slick-next img {
    width: 31px;
    height: 50px;
  }
  .carousel .slick-next {
    right: -66px;
    left: auto;
  }
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(1rem, 1fr) (minmax(min-content, 16rem))[8] minmax(1rem, 1fr);
        grid-template-columns: minmax(1rem, 1fr) repeat(8, minmax(-webkit-min-content, 16rem)) minmax(1rem, 1fr);
        grid-template-columns: minmax(1rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(1rem, 1fr);
    /* height: 164px; */
    height: 118px;
  }
  .second-nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1 / 10;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    display: -ms-grid;
    display: grid;
  }
  .second-nav__list {
    margin-left: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-button {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / 6;
    -ms-grid-row: 2;
    grid-row: 2 / 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 6px;
    margin-right: 0;
  }
  .header-button-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (10%)[10];
        grid-template-columns: repeat(10, 10%);
  }
  .button {
    grid-column: 8 / -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

@media (max-width: 300px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(1rem, 1fr) (minmax(min-content, 16rem))[8] minmax(1rem, 1fr);
        grid-template-columns: minmax(1rem, 1fr) repeat(8, minmax(-webkit-min-content, 16rem)) minmax(1rem, 1fr);
        grid-template-columns: minmax(1rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(1rem, 1fr);
    height: 164px;
  }
  .header-button {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / 6;
    -ms-grid-row: 2;
    grid-row: 2 / 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 6px;
  }
  .button {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 0;
  }
  .second-nav__item:last-child {
    width: 100%;
  }
  .list-item__wrapper {
    width: 168px;
  }
  .list-item__wrapper-last {
    width: 180px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.carousel_container {
  max-width: 950px;
  margin: 0 auto;
}

.carousel {
  grid-column: 1 / -1;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  display: -ms-grid;
  display: grid;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.carousel {
  padding: 81px 0;
}

.carousel__inner {
  position: relative;
  width: 750px;
  margin: 0 auto;
}

.carousel .slick-prev, .carousel .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -66px;
  border: none;
  background-color: #fff;
}

.carousel .slick-prev img, .carousel .slick-next img {
  width: 31px;
  height: 50px;
}

.carousel .slick-next {
  right: -66px;
  left: auto;
}
/*# sourceMappingURL=style.css.map */